.container {
   display: flex;
   flex-direction: row;
   gap: 8px;
}

.input {
   width: 200px;
   border: none;
   background-color: var(--brand-color);
   color: var(--background-color);
   padding: 4px 8px;
   border-radius: 9px;
}