.container {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   position: fixed;
   top: 0;
   left: 0;
   border-bottom: solid 1px var(--brand-color);
   background-color: var(--background-color);
   z-index: 1000;
}

.logo {
   width: 218px;
   height: 39px;
   background-image: url(../../assets/logo.svg);
}