.title {
   font-size: 20px;
}

.container {
   margin-top: 16px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.input {
   border-radius: 12px;
   border: 2px solid var(--brand-color);
   padding: 4px 8px;
   max-width: 300px;
}

.button {
   background-color: var(--brand-color);
   color: var(--background-color);
   border: none;
   padding: 8px 40px;
   border-radius: 20px;
   max-width: 200px;
   min-width: 100px;
}