.size {
   width: 148px;
   height: 36px;
   display: flex;
   flex-direction: row;
   align-items: center;
   border-radius: 20px;
   border: 1px solid var(--main-color);
   background-color: var(--background-color);
   color: var(--main-color);
   font-weight: 600;
   justify-content: center;
}

.active {
   background-color: var(--main-color);
   color: var(--background-color);
}