.container {
   display: flex;
   flex-direction: column;
   gap: 56px;
   padding: 24px
}

.container h1{
   align-self: center;
   font-size: 40px;
}

.section {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.section h2 {
   font-size: 24px;
}

.sectionHeader {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.changes {
   background-color: var(--brand-color);
   color: var(--background-color);
   font-size: 10px;
   padding: 4px 20px;
   border: none;
   border-radius: 30px;
}

.view {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.view p {
   opacity: 0.6;
   font-weight: 500;
   font-size: 14px;
}

.input {
   padding: 4px 8px;
   background-color: var(--photo-background);
   border: none;
   border-radius: 20px;
   width: 100%;
   max-width: 200px;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.inputRow {
   display: flex;
   flex-direction: row;
   gap: 8px;
}

.button {
   background-color: var(--brand-color);
   color: var(--background-color);
   border: none;
   padding: 8px 0;
   border-radius: 28px;
}

.button:disabled {
   opacity: 0.6;
}